CINE_AI_PLATFORM/infra/n8n/workflows/01-render-shot-pipeline.json
{
  "name": "01 - Core Render Pipeline (Scaffold)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-shot",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook: Ingest Shot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "render-shot-pipeline-internal-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"prompt\": { \"3\": { \"inputs\": { \"seed\": $json.body.prompt_data.seed, \"steps\": $json.body.prompt_data.steps, \"cfg\": 7.0, \"sampler_name\": \"euler\", \"scheduler\": \"normal\", \"denoise\": 1.0, \"model\": [ \"4\", 0 ], \"positive\": [ \"6\", 0 ], \"negative\": [ \"7\", 0 ], \"latent_image\": [ \"5\", 0 ] }, \"class_type\": \"KSampler\" } } } }}",
        "options": {}
      },
      "name": "Trigger ComfyUI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/internal/shots/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"shot_id\": $node[\"Webhook: Ingest Shot\"].json.body.shot_id, \"status\": \"processing\", \"comfy_job_id\": $json.prompt_id } }}",
        "options": {}
      },
      "name": "Notify API (Processing)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Ingest Shot": {
      "main": [
        [
          {
            "node": "Trigger ComfyUI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger ComfyUI API": {
      "main": [
        [
          {
            "node": "Notify API (Processing)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
