CINE_AI_PLATFORM/workflows/n8n/02_project_context_embed_pipeline.json
{
  "name": "02 - Project Context Embed Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-context-embed",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook: Ingest Raw Text",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "webhookId": "project-context-embed-internal-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMBEDDINGS_URL || 'http://host.docker.internal:8000' }}/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $json.body.content } }}",
        "options": {}
      },
      "name": "Call Local Embedder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        550,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5678/webhook/project-context-ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ Object.assign({}, $node[\"Webhook: Ingest Raw Text\"].json.body, { vector: $json.vector }) }}",
        "options": {}
      },
      "name": "Trigger Qdrant Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook: Ingest Raw Text": {
      "main": [
        [
          {
            "node": "Call Local Embedder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Local Embedder": {
      "main": [
        [
          {
            "node": "Trigger Qdrant Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
