CINE_AI_PLATFORM/workflows/n8n/04_project_context_retrieval_pipeline.json
{
  "name": "04 - Project Context Retrieval Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-context-search",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook: Search Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [ 250, 300 ],
      "webhookId": "project-context-search-internal-id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.EMBEDDINGS_URL || 'http://host.docker.internal:8000' }}/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"text\": $json.body.query } }}",
        "options": {}
      },
      "name": "Call Local Embedder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://qdrant:6333/collections/cine_project_context/points/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { vector: $json.vector, limit: $node[\"Webhook: Search Query\"].json.body.limit || 5, filter: $node[\"Webhook: Search Query\"].json.body.filter || {}, with_payload: true } }}",
        "options": {}
      },
      "name": "Search Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [ 750, 300 ]
    },
    {
      "parameters": {
        "jsCode": "const qdrantRes = $json.result || [];\nconst hits = qdrantRes.map(hit => ({\n  id: hit.id,\n  score: hit.score,\n  payload: hit.payload\n}));\n\nreturn [{\n  json: {\n    ok: true,\n    query: $node[\"Webhook: Search Query\"].json.body.query,\n    total_hits: hits.length,\n    results: hits\n  }\n}];"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1000, 300 ]
    }
  ],
  "connections": {
    "Webhook: Search Query": {
      "main": [
        [
          { "node": "Call Local Embedder", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Local Embedder": {
      "main": [
        [
          { "node": "Search Qdrant", "type": "main", "index": 0 }
        ]
      ]
    },
    "Search Qdrant": {
      "main": [
        [
          { "node": "Format Response", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {}
}
