CINE_AI_PLATFORM/workflows/n8n/project_context_ingest.json
{
  "name": "03 - Project Context Ingest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-context-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook: Project Context Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        320
      ],
      "webhookId": "project-context-ingest-internal-id"
    },
    {
      "parameters": {
        "jsCode": "const input = $json.body ?? $json;\nconst required = ['project_id', 'entity_type', 'title', 'content', 'source'];\nfor (const key of required) {\n  const value = input[key];\n  if (value === undefined || value === null || String(value).trim() === '') {\n    throw new Error(`Missing required field: ${key}`);\n  }\n}\n\nif (!Array.isArray(input.vector) || input.vector.length === 0) {\n  throw new Error('Missing required field: vector[]');\n}\n\nconst vector = input.vector.map((value, index) => {\n  const numeric = Number(value);\n  if (!Number.isFinite(numeric)) {\n    throw new Error(`Invalid vector value at index ${index}`);\n  }\n  return numeric;\n});\n\nconst normalizeNullable = (value) => {\n  if (value === undefined || value === null) return null;\n  const normalized = String(value).trim();\n  return normalized === '' ? null : normalized;\n};\n\nconst tags = Array.isArray(input.tags)\n  ? input.tags.map((tag) => String(tag).trim()).filter((tag) => tag !== '')\n  : [];\n\nconst createdAt = normalizeNullable(input.created_at) ?? new Date().toISOString();\nconst title = String(input.title).trim();\nconst entityType = String(input.entity_type).trim();\nconst source = String(input.source).trim();\nconst projectId = String(input.project_id).trim();\nconst sequenceId = normalizeNullable(input.sequence_id);\nconst sceneId = normalizeNullable(input.scene_id);\nconst shotId = normalizeNullable(input.shot_id);\nconst pointId = normalizeNullable(input.point_id) ?? [projectId, sequenceId ?? 'root', sceneId ?? 'root', shotId ?? 'root', entityType, Date.now()].join(':');\nconst collection = normalizeNullable(input.collection) ?? 'cine_project_context';\n\nreturn [{\n  json: {\n    collection,\n    point_id: pointId,\n    point: {\n      id: pointId,\n      vector,\n      payload: {\n        project_id: projectId,\n        sequence_id: sequenceId,\n        scene_id: sceneId,\n        shot_id: shotId,\n        entity_type: entityType,\n        title,\n        content: String(input.content),\n        tags,\n        source,\n        created_at: createdAt\n      }\n    }\n  }\n}];"
      },
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        320
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'http://qdrant:6333/collections/' + $json.collection + '/points?wait=true' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { points: [ $json.point ] } }}",
        "options": {}
      },
      "name": "Upsert Into Qdrant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        860,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const normalized = $('Normalize Payload').first().json;\nreturn [{\n  json: {\n    ok: true,\n    collection: normalized.collection,\n    point_id: normalized.point_id,\n    payload: normalized.point.payload,\n    qdrant: $json\n  }\n}];"
      },
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1420,
        320
      ]
    }
  ],
  "connections": {
    "Webhook: Project Context Ingest": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Upsert Into Qdrant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Into Qdrant": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
